
@{
    ViewData["Title"] = "Register";
}

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
        <h1 class="text-body-emphasis">Registration</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">Welcome to our website</p>
        <div class="d-inline-flex gap-2 mb-5">
            <a asp-action="NewForm" asp-controller="Student" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
               Register as Student
                
            </a>
            <a asp-controller="Instructor" asp-action="Add" class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
                Register as Instructor
            </a>
        </div>
    </div>
</div>
