@model List<Course>
@{
    ViewData["Title"] = "Index";
    int index = 0;
}

<a href="/course/AddForm" class="btn btn-outline-primary">Add New course</a>
<a asp-controller="Validation" asp-action="Add" class="btn btn-outline-primary">Add New course with validation</a>
<hr />

<table class="table table-striped table-primary table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>totalHours</th>
            <th>Controls</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Course crs in Model)
        {

            <tr>
                <td>@(++index)</td>
                <td>@crs.Name</td>
                <td>@crs.totalHours</td>
                <td>
                    <a href="/course/details/@crs.Id"><i class="fa-solid fa-circle-info"></i></a>|
                    <a href="/course/EditForm/@crs.Id"><i class="fa-solid fa-pen-to-square"></i></a>|
                    <a href="/course/delete/@crs.Id"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

